.STEFFIE_header_logo{
    margin: 2rem 0; font-family: 'Chakra Petch', sans-serif; font-family: 'Changa', sans-serif;
}

.STEFFIE_footer_logo{
    margin-top:1.5rem; font-family: 'Chakra Petch', sans-serif; font-family: 'Changa', sans-serif;
}

.STEFFIE_header_button{
    margin-bottom: 2rem;
}

.STEFFIE_footer_button{
     margin-top:1.5rem;
}

.mw-500{
    max-width: 500px;
    padding: 1em 1.5rem;
}

.NNS_B{
    font-family: "NanumSquareB", cursive;
}